<div class="card card-inverse-danger" *ngIf="isOffline">
  <div class="card-body">
    <p class="mb-4">
      เกิดข้อผิดพลาดในการเชื่อมต่อกับ Notify Server.
    </p>
    <button class="btn btn-danger" (click)="connectWebSocket()">เชื่อมต่อใหม่ (<strong>
        <countdown [config]="{leftTime: 15, template: '$!s!'}" (finished)="onFinished()" (notify)="onNotify($event)">
        </countdown>
      </strong>)</button>
  </div>
</div>
<div class="body" *ngIf="status == 'online'">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class='silver'>
          <div style="font-size: 2.5rem; font-weight: bold;" (dblclick)="home()">{{hospname}}</div>
          <h1>ระบบยืนยันตนสำหรับ MyMOPH
          </h1>
        </div>
      </div>

    </div>

    <div *ngIf="tabProfile">
      <div style="margin: 20px;"></div>
      <div class="row">
        <div class="col-6">
          <div class='silver'>
            <h1>ข้อมูลจากบัตรประชาชน</h1>
            <span>เลขบัตรประชาชน</span>
            <p id="txtCid">{{cardCid || '-'}}</p>
            <span>ชื่อ - สกุล</span>
            <p id="txtFullname">{{cardFullName || '-'}}</p>
            <span>วันเกิด</span>
            <p id="txtBirthdate">{{cardBirthDate || '-'}}</p>
            <h4 style="text-align: right">**ข้อมูลจากเครื่องอ่านบัตรประชาชน</h4>
          </div>
        </div>
        <div class="col-6">
          <div class='silver'>
            <h2>กรุณาสแกน QRCODE ด้วย MyMOPH</h2>
            <!-- colorDark: this.colordark,
            colorLight: this.colorlight,
            correctLevel: QRCode.CorrectLevel[this.level.toString()],
            height: this.size,
            text: this.qrdata || ' ',
            useSVG: this.usesvg,
            width: this.size, -->
            <div *ngIf="showQR" style="width: 40%;margin-left: 30%;text-align: center;align-items: center;">
              <qrcode [qrdata]="qrdata" [level]="'Q'" [size]="180"></qrcode>
            </div>
            <div *ngIf="!showQR" style="width: 40%;margin-left: 30%;text-align: center;align-items: center;">
              ข้อมูลไม่ถูกต้อง กรุณาเสียบบัตรใหม่
            </div>
          </div>
        </div>

      </div>
      <div style="margin: 20px;">
        <div class="row">
          <div class="col-4">1.</div>
          <div class="col-4">2.</div>
          <div class="col-4">3.</div>
        </div>
        <div class="row">
          <div class="col-4" style="text-align: center;">
            <div style="width:100%;padding:20px;  background: white;text-align: center;border-radius: 5px;">
              <img src="./assets/images/app1.png" style="width: 45%;">
              or
              <img src="./assets/images/app2.png" style="width: 45%;">
            </div>
          </div>
          <div class="col-4" style="text-align: center;">
           <div style="width:100%;padding:20px;  background: white;text-align: center;border-radius: 5px;">
              <img src="./assets/images/app3.png" style="width: 45%;">
            </div>
          </div>
          <div class="col-4" style="text-align: center;">
           <div style="width:100%;padding:20px;  background: white;text-align: center;border-radius: 5px;">
              <img src="./assets/images/app4.png" style="width: 45%;">
            </div>
          </div>
        </div>
      </div>

      <button *ngIf="btnSelectServicePoint" type="button" class="btn btn-primary"
        style="height: 6rem; font-size: 1.8em; display: block; margin: auto;"
        (click)="onSelectServicePointList()">เลือกแผนกเข้ารับบริการ</button>
      <div *ngIf="!cardFullName">
        <button class="btn btn-danger" (click)="clearData()"><span class="h3">กลับหน้าหลัก</span> </button>
      </div>
    </div>



  </div>
</div>

<div class="body" style="overflow: hidden" *ngIf="status == 'offline'">
  <!-- <button class="btn btn-success" style="position: absolute;z-index: 999;top:75%;left:35%;width: 30%;font-size: 3rem;" (click)="getInfoFromCard()" [disabled]="btnGetCard">ตรวจสอบสิทธิ์</button> -->
  <img style="width: 100%" src="./assets/images/bg.png">
</div>
