<div class="card card-inverse-danger" *ngIf="isOffline">
  <div class="card-body">
    <p class="mb-4">
      เกิดข้อผิดพลาดในการเชื่อมต่อกับ Notify Server.
    </p>
    <button class="btn btn-danger" (click)="connectWebSocket()">เชื่อมต่อใหม่ (<strong>
        <countdown [config]="{leftTime: 15, template: '$!s!'}" (finished)="onFinished()" (notify)="onNotify($event)">
        </countdown>
      </strong>)</button>
  </div>
</div>
<div class="body" *ngIf="status == 'online'">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class='silver'>
          <div style="font-size: 2.5rem; font-weight: bold;" (dblclick)="home()">{{hospname}}</div>
          <h1>ระบบยืนยันตนสำหรับ MyMOPH
          </h1>
        </div>
      </div>

    </div>

    <div *ngIf="tabProfile">
      <div style="margin: 20px;"></div>
      <div class="row">
        <div class="col-6">
          <div class='silver'>
            <h1>ข้อมูลจากบัตรประชาชน</h1>
            <span>เลขบัตรประชาชน</span>
            <p id="txtCid">{{cardCid || '-'}}</p>
            <span>ชื่อ - สกุล</span>
            <p id="txtFullname">{{cardFullName || '-'}}</p>
            <span>วันเกิด</span>
            <p id="txtBirthdate">{{cardBirthDate || '-'}}</p>
            <h4 style="text-align: right">**ข้อมูลจากเครื่องอ่านบัตรประชาชน</h4>
          </div>
        </div>
        <div class="col-6">
          <div class='silver'>
            <h2>กรุณาสแกน QRCODE ด้วย MyMOPH</h2>
            <!-- colorDark: this.colordark,
            colorLight: this.colorlight,
            correctLevel: QRCode.CorrectLevel[this.level.toString()],
            height: this.size,
            text: this.qrdata || ' ',
            useSVG: this.usesvg,
            width: this.size, -->
            <div *ngIf="showQR" style="width: 40%;margin-left: 30%;text-align: center;align-items: center;">
              <qrcode [qrdata]="qrdata" [level]="'Q'" [size]="180"></qrcode>
            </div>
            <div *ngIf="!showQR" style="width: 40%;margin-left: 30%;text-align: center;align-items: center;">
              ข้อมูลไม่ถูกต้อง กรุณาเสียบบัตรใหม่
            </div>
          </div>
        </div>

      </div>
      <div style="margin: 20px;">
        <div class="row">
          <div class="col-4">1.</div>
          <div class="col-4">2.</div>
          <div class="col-4">3.</div>
        </div>
        <div class="row">
          <div class="col-4" style="text-align: center;">
            <div style="width:100%;padding:20px;  background: white;text-align: center;border-radius: 5px;">
              <img src="./assets/images/app1.png" style="width: 45%;">
              or
              <img src="./assets/images/app2.png" style="width: 45%;">
            </div>
          </div>
          <div class="col-4" style="text-align: center;">
           <div style="width:100%;padding:20px;  background: white;text-align: center;border-radius: 5px;">
              <img src="./assets/images/app3.png" style="width: 45%;">
            </div>
          </div>
          <div class="col-4" style="text-align: center;">
           <div style="width:100%;padding:20px;  background: white;text-align: center;border-radius: 5px;">
              <img src="./assets/images/app4.png" style="width: 45%;">
            </div>
          </div>
        </div>
      </div>

      <button *ngIf="btnSelectServicePoint" type="button" class="btn btn-primary"
        style="height: 6rem; font-size: 1.8em; display: block; margin: auto;"
        (click)="onSelectServicePointList()">เลือกแผนกเข้ารับบริการ</button>
      <div *ngIf="!cardFullName">
        <button class="btn btn-danger" (click)="clearData()"><span class="h3">กลับหน้าหลัก</span> </button>
      </div>
    </div>



  </div>
</div>

<div class="content-main" style="overflow: hidden" *ngIf="status == 'offline'">
  <!-- <button class="btn btn-success" style="position: absolute;z-index: 999;top:75%;left:35%;width: 30%;font-size: 3rem;" (click)="getInfoFromCard()" [disabled]="btnGetCard">ตรวจสอบสิทธิ์</button> -->
  <!-- <img style="width: 100%" src="./assets/images/bg.png"> -->
  <div class="content-sky-bg">
    <!-- <div class="snow"></div> -->
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
  </div>
  <div class="content-graphic-1"></div>
  <div class="content-grass-bg"></div>
  <div class="content-building"></div>
  <div class="content-monument opacity-animation"></div>
  <div class="content-title">
    <div class="row h-100 mt-5">
      <div class="col-12 text-center mt-5">
        <div class="text-white head-font-5 txt-shadow" title="ระบบยืนยันตนสำหรับ" style="font-size: 3em; font-weight: 700;">ระบบยืนยันตนสำหรับ <span class="head-font-mymoph txt-shadow">MyMOPH</span></div>
      </div>
      <div class="col-3 mx-auto">
        <img src="assets/images/mymoph-v8-go-white.png" class="img-fluid" alt="" srcset="">
      </div>
    </div>
  </div>
  <div class="footter-area">
    <div class="row h-100">
      <div class="col-12 mx-auto text-center pt-4">
        <div class="head-font-5 text-white" style="font-size: 2vw; font-weight: 600;">ติดต่อสอบถาม https://mymoph.moph.go.th หรือแสกน QR Code</div>
      </div>
    </div>
  </div>
  <div class="content-insertcard-hint">
    <div class="row h-100 px-0 mx-0">
      <div class="col-12 my-auto text-center px-0 mx-0">
        <div class="head-font-5 stroke-double text-animation-color" style="font-size: 2.5vw;" title="กรุณาเสียบบัตรประจำตัวประชาชน">กรุณาเสียบบัตรประจำตัวประชาชน</div>
        <div class="head-font-5 stroke-double text-animation-color" style="font-size: 2vw;" title="ที่ช่องเสียบบัตร">ที่ช่องเสียบบัตร</div>
      </div>
    </div>
  </div>
  <!-- <div class="id-card insert-card"></div> -->
  <div class="insert-card-area">
    <div class="card-reader">
      <div class="card-line-input"></div>
      <div class="id-card insert-card"></div>
      <div class="card-reader-top">
        <div class="row h-100">
          <div class="col-12 my-auto text-center">
            <div class="h3 text-white txt-shadow">Smartcard Reader</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="insert-card-area-2">
    <div class="row h-100">
      <div class="col-6 mx-auto text-center">
        <!-- <img src="assets/images/mymoph-v8-go-white.png" class="img-fluid" alt="" srcset=""> -->
        <img src="assets/images/qr-code-2.svg" class="img-fluid" alt="" srcset="">
      </div>
    </div>
  </div>
  
</div>
